
<div class="card textcenter mt-3" [ngClass]="{'add-appointment': showForm}">
  <div class="heading card-header bg-primary text-white"
       (click)="toggleAptDisplay()">
    <fa-icon icon="plus"></fa-icon>
    Atividade
  </div><!-- card-header -->

  <div class="card-body">
    <form id="atividadeForm" novalidate
          (ngSubmit)="add(atividadeForm.value)"
          #atividadeForm="ngForm">

      <div class="form-group form-row">
        <label class="col-md-2 col-form-label text-md-right" for="titulo">Título</label>
        <div class="col-md-10">
          <input type="text" class="form-control" name="titulo" id="titulo" placeholder="Título da Atividade" [(ngModel)]="titulo">
        </div><!-- col-md-10 -->
      </div><!-- form-group -->

      <div class="form-group form-row">
        <label class="col-md-2 col-form-label text-md-right"
               for="descricao">Descrição</label>
        <div class="col-md-10">
          <input type="text" class="form-control" name="descricao"
                 id="descricao" placeholder="Descrição" [(ngModel)]="descricao">
        </div><!-- col-md-10 -->
      </div><!-- form-group -->


      <div class="form-group form-row">
        <label class="col-md-2 col-form-label text-md-right">Gravidade</label>
        <div class="col-md-4">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" id="gvddminusbtn">
                <i class="fa fa-minus-square"></i>
              </button>
            </div>
            <input type="text" id="gravidade" name="gravidade" class="form-control input-number" value="1" min="1" max="5" [(ngModel)]="gravidade">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" id="gvddplusbtn">
                <i class="fa fa-plus-square"></i>
              </button>
            </div>
          </div>
          <div class="text-md-center">
            <p class="gvdd-desc">Desc Gravidade</p>
          </div>
        </div><!-- col-md-10 -->
      </div><!-- form-group -->

      <div class="form-group form-row">
        <label class="col-md-2 text-md-right">Urgencia</label>
        <div class="col-md-4">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" id="rgncminusbtn">
                <i class="fa fa-minus-square"></i>
              </button>
            </div>
            <input type="text" id="urgencia" name="urgencia" class="form-control input-number" value="1" min="1" max="5" [(ngModel)]="urgencia">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" id="rgncplusbtn">
                <i class="fa fa-plus-square"></i>
              </button>
            </div>
          </div>
          <div class="text-md-center">
            <p class="rgnc-desc"> Desc Urgencia</p>
          </div>
        </div><!-- col-md-10 -->
      </div><!-- form-group -->

      <div class="form-group form-row">
        <label class="col-md-2 text-md-right">Tendencia</label>
        <div class="col-md-4">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" id="tdncminusbtn">
                <i class="fa fa-minus-square"></i>
              </button>
            </div>
            <input type="text" id="tendencia" name="tendencia" class="form-control input-number" value="1" min="1" max="5" [(ngModel)]="tendencia">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" id="tdncplusbtn">
                <i class="fa fa-plus-square"></i>
              </button>
            </div>
          </div>
          <div class="text-md-center">
            <p class="tdnc-desc">Desc Urgencia</p>
          </div>
        </div><!-- col-md-10 -->
      </div><!-- form-group -->


      <div class="form-group form-row mb-0">
        <div class="offset-md-2 col-md-10">
          <button type="submit" class="btn btn-primary d-block ml-auto" >Adicionar</button>
        </div><!-- col-md-offset-2 -->
      </div><!-- form-group -->


    </form>
  </div><!-- card-body -->
</div><!-- card-primary -->
