<div class="md-overlay-container">
  <div class="md-global-overlay-wrapper">
    <div mat-dialog-content class="md-dialog-container modal-header">
      {{message}}
      <div mat-dialog-actions class="mat-dialog-actions">
        <button mat-button mat-dialog-close>No</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal-header">
<h4 class="modal-title">{{ title }}</h4>
<button type="button" class="close" aria-label="Close" (click)="dismiss()">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
{{ message }}
</div>
<div class="modal-footer">
<button type="button" class="btn btn-danger" (click)="decline()">{{ btnCancelText }}</button>
<button type="button" class="btn btn-primary" (click)="accept()">{{ btnOkText }}</button>
</div> -->
