<div class="card textcenter mt-3" [ngClass]="{'add-appointment': showForm}">

  <div class="apt-addheading card-header bg-primary text-white"
       (click)="toggleAptDisplay()">
    <fa-icon icon="plus"></fa-icon>
    Atividade
  </div><!-- card-header -->

  <div class="card-body">
    <form id="aptForm" novalidate
          (ngSubmit)="handleAdd(aptForm.value)"
          #aptForm="ngForm">

      <div class="form-group form-row">
        <label class="col-md-2 col-form-label text-md-right" for="tvdd_titulo">Título</label>
        <div class="col-md-10">
          <input type="text" class="form-control" name="tvdd_titulo" id="tvdd_titulo" placeholder="Título da Atividade"
                 ngModel>
        </div><!-- col-md-10 -->
      </div><!-- form-group -->

      <div class="form-group form-row">
        <label class="col-md-2 col-form-label text-md-right"
               for="tvdd_descricao">Descrição</label>
        <div class="col-md-10">
          <input type="text" class="form-control" name="tvdd_descricao"
                 id="tvdd_descricao" placeholder="Descrição" ngModel>
        </div><!-- col-md-10 -->
      </div><!-- form-group -->


      <div class="form-group form-row">
        <label class="col-md-2 text-md-right" >Gravidade</label>
        <div class="col-md-10">
          <mat-slider min="1" max="5"> </mat-slider>
        </div><!-- col-md-10 -->
      </div><!-- form-group -->

      <div class="form-group form-row">
        <label class="col-md-2 text-md-right">Urgencia</label>
        <div class="col-md-10">
          <mat-slider min="1" max="5"> </mat-slider>
        </div><!-- col-md-10 -->
      </div><!-- form-group -->

      <div class="form-group form-row">
        <label class="col-md-2 text-md-right"d>Tendencia</label>
        <div class="col-md-10">
          <mat-slider min="1" max="5"> </mat-slider>
        </div><!-- col-md-10 -->
      </div><!-- form-group -->


      <div class="form-group form-row mb-0">
        <div class="offset-md-2 col-md-10">
          <button type="submit" class="btn btn-primary d-block ml-auto">Adicionar</button>
        </div><!-- col-md-offset-2 -->
      </div><!-- form-group -->


    </form>
  </div><!-- card-body -->
</div><!-- card-primary -->
