<!-- Navbar (sit on top) -->
<div class="w3-top" *ngIf="currentUser">
  <div class="w3-bar w3-black w3-padding w3-card" style="letter-spacing:4px;">
    <a routerLink="/" class="w3-bar-item w3-button">ALUAS</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a routerLink="/" class="w3-bar-item w3-button">HOME</a>
      <a routerLink="/list" class="w3-bar-item w3-button">PAINEL</a>
      <a (click)="logout()" class="w3-bar-item w3-button">SAIR</a>
    </div>
  </div>
</div>

<!-- main app container -->
<div class="jumbotron">
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<!-- Footer -->
<footer class="w3-center  w3-light-grey w3-padding-32">
  <p>Powered by <a href="aluas.com.br" title="ALUAS" target="_blank" class="w3-hover-text-green">ALUAS</a></p>
</footer>
