html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif; line-height: 1.85;}
.w3-left{
  margin-right: 3%;
}
.bg-danger{
  margin: 10%;
}

.bg-success{
  margin: 10%;
}

.bg-primary{
  margin: 10%;
}

.fa-edit{
  color: white !important;
}

.card-header{
  font-size: 150%;
}

.w3-container{
  padding-top:22px;
}

.fa-search{
  align-content: flex-end;
}

.fa-dashboard{
  margin-left: 10px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
