/* Shared */
html,body,h1,h2,h4,h5 {font-family: "Raleway", sans-serif; line-height: 2.05;}
h3 {font-family: "Raleway", sans-serif; line-height: 2.5;}

.icon{
  width:4.5%;
}
a{color:#290074;text-decoration: none;}
a:hover{color:#ffbd59; }

.jumbotron{
  padding:0rem 0rem 0rem 0rem;
}
.fa-star{
  color: #f9a825;
}
.pull-right{float: right;}
.pull-left{float: left;}

.mat-dialog-content {
    display: block;
    /* margin: 0 -24px; */
    /* padding: 0 24px; */
    max-height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: 100px;
}

.w3-modal-content {
    width: 312px;
    border-radius: 3%;

}

.mat-dialog-actions {
    padding: 34px 0;
}
/* footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 50px;

} */
/* End of styling Shared */

/* Styling the home page */
#barChart{
  width: 25%;
}

/* End of styling Home */
/* Styling the Dashboard page */
.class1{
  background: #e57373;
}

.class2{
  background: #03a9f4;
}

.class3{
  background: #66bb6a;
}

.w3-left{
  margin-right: 3%;
}

.bg-class1{
  margin: 5%;
  background-color: #af4448;
}
.bg-class2{
  margin: 5%;
  background-color: #007ac1;
}
.bg-class3{
  margin: 5%;
  background-color: #338a3e;
}

.fa-edit{
  color: white !important;
}

.card-header{
  font-size: 150%;
}

.w3-container{
  padding-top:22px;
}

.fa-search{
  align-content: flex-end;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
.panel{
  background-color: light-grey;
  border:1px solid #ccc;
  min-height: 20px;
  margin: .05%;
  width: 463px ;
}
/* End of styling Dashboard page */

/* Styling the Info page */

div#formInfo{
  position: absolute;
  width:100%;
  height:auto;
  background-color: rgba(41,0,116,0.5);
  margin:auto;
  padding:2%;
  top:96%;
  margin-top:-20%;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 120%;
}

/* End of styling Info page */

/* Styling the Profile page */

div#formProfile{
  position: absolute;
  width:100%;
  height:auto;
  background-color: #fff;
  margin:auto;
  padding:2%;
  top:96%;
  margin-top:-15%!important;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 120%;
  /* border-radius: 3%; */
  margin-top:-8%;
  /* left:35%; */
  top:40%;
}
div.form-group-profile-header{
  margin-left: -18%;
  margin-top:-8%;
}
div.form-group-profile-header .form-style:focus{outline: none; border:1px solid #58bff6; color:#58bff6; }
input.form-control-profile{
  color:#8a8a8a;
  display: block;
  width: auto;
  margin-left: 27%;
  height: auto;
  padding: 0% 1%;
  border:1px solid #f1f0f0;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
  border-radius: 11px;
  /* margin-bottom: -5%; */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
  font-family:'Raleway','Arial', sans-serif;
  font-size: 105%;
  letter-spacing: .8px;
}
.profile-label{
  color:#290074;
  font-family:'Raleway','Arial', sans-serif;
  padding-left: 27%;
  margin-top: 1%;
}

/* End of styling Profile page */


/* Styling the login page  */
div#divLogin{
  background: url('../assets/bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:'Raleway', sans-serif;
}

#divLogin{
  background: rgba(0,0,0,.3);
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  transition:all .3s ease;}


  div#formLogin{
    position: absolute;
    width:40%;
    height:70%;
    height:auto;
    background-color: #fff;
    margin:auto;
    border-radius: 3%;
    padding:3%;
    left:35%;
    top:40%;
    margin-top:-15%;
  }

  div.form-group{position: relative; display: block; margin-bottom: 20px;}
  input{transition: all .2s ease;}
  input.form-control{
    color:#8a8a8a;
    display: block;
    width: 95%;
    height: 100%;
    padding: 3% 5%;
      border:1px solid #ccc;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
    border-radius: 27px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    font-family:'Raleway', sans-serif;
    font-size: 105%;
    letter-spacing: .8px;
  }
  div.form-group .form-style:focus{outline: none; border:1px solid #58bff6; color:#58bff6; }
  div.form-group p.formLabel {
    position: absolute;
    left:10%;
    top:10%;
    transition:all .4s ease;
    color:#bbb;}

    input[type="submit"].login{
      float:right;
      width: 180%;
      height: 30px;
      -moz-border-radius: 19px;
      -webkit-border-radius: 19px;
      border-radius: 19px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #290074;
      border:1px solid #290074;
      border:none;
      color: #fff;
      font-weight: bold;
      margin-right: 43%;
    }
    input[type="submit"].login:hover{background-color: #fff; border:1px solid #290074; color:#290074; cursor:pointer;}
    input[type="submit"].login:focus{outline: none;}


    div.logo{text-align: center;fill: #566375;}
    div.logo img{
      width:100%;
      height:100%;
    }
    /* End of styling loggin page */

    /*  Styling the Register page */
    input[type="submit"].register{
      float:right;
      /* width: 180%; */
      height: 30px;
      -moz-border-radius: 19px;
      -webkit-border-radius: 19px;
      border-radius: 19px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #290074;
      border:1px solid #290074;
      border:none;
      color: #fff;
      font-weight: bold;
      /* margin-right: 43%; */
    }
    input[type="submit"].register:hover{background-color: #fff; border:1px solid #290074; color:#290074; cursor:pointer;}
    input[type="submit"].register:focus{outline: none;}

    /* End of styling Register page */

    /* Styling the Add page */
    div#divAdd{
      background: rgba(221,221,221,0.8);
      /* -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; */
      height: auto;
      font-family:'Raleway','Arial', sans-serif;
    }
    div#formAdd{
      position: absolute;
      width:40%;
      /* height:50%; */
      height:auto;
      background-color: #fff;
      margin:auto;
      border-radius: 3%;
      padding-top: 1%;
      left:32%;
      top:40%;
      margin-bottom:10px;
      margin-top:-15%;
    }
    .score-label{
      font-family:'Raleway','Arial', sans-serif;
      padding-left: 35%%;
    }
    .slider-label{
      font-family:'Raleway','Arial', sans-serif;
      padding-left: 27%;
    }

    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 15px;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #002171;
      /* #4CAF50 */
      cursor: pointer;
    }

    .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4CAF50;
      cursor: pointer;
    }

    input.form-control-add-title{
      color:#8a8a8a;
      display: block;
      width: 100%;
      height: 100%;
      padding: 3% 5%;
      border:1px solid #f1f0f0;
      -moz-border-radius: 27px;
      -webkit-border-radius: 27px;
      border-radius: 11px;
      margin-bottom: -5%;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #fff;
      font-family:'Raleway','Arial', sans-serif;
      font-size: 105%;
      letter-spacing: .8px;
    }
    input.form-control-add-desc{
      color:#8a8a8a;
      display: block;
      width: 100%;
      height: 100px;
      padding: 3% 5%;
      border:1px solid #f1f0f0;
      -moz-border-radius: 27px;
      -webkit-border-radius: 27px;
      border-radius: 11px;
      margin-bottom: -3%;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      font-family:'Raleway','Arial', sans-serif;
      background-color: #fff;
      font-size: 105%;
      letter-spacing: .8px;
    }

    div.form-group-add-title .form-style:focus{outline: inherit; border:1px solid #58bff6; color:#58bff6; }
    div.form-group-add-desc .form-style:focus{outline: inherit; border:1px solid #58bff6; color:#58bff6; }
    /* End of styling Add page  */

    /* Styling the Sidenav page */
    .example-sidenav-content {
      display: inline;
      height: 100vh;
      align-items: baseline;
      justify-content: flex-end;
    }

    .example-sidenav {
      background-color: #290074;
    }
    .active{
      background-color:rgba(221,221,221,0.5);
    }

    .sidenav-item{
      color: white;
      font-size:20px;
      align-items: baseline;
    }

    .icon{
      color: white;
    }
    /* End of styling Sidenav page */

    /* Styling the Edit page */
    .icon-edit{
      margin-right:2%;
      margin-bottom: 3%;
      color:#290074;
      background: none;
    }
    .icon-edit:click{color:#ffbd59;}
    /* End of styling Edit page */
