<div id="formProfile">

  <form #formProfile="ngForm" (ngSubmit)="save()">
    <img src="./assets/photo.JPG" class="profile-img" style="border-radius:60%;width:20%;margin-left:70%;" >
    <div class="form-group-profile-header">
      <div class="form-group-profile">
        <label class="profile-label"> Nome: </label>
        <input type="text" class="form-control-profile" name="primeiroNome"
        id="primeiroNome" placeholder="Nome do Usuario" [(ngModel)]="user.primeiroNome">
      </div>

      <div class="form-group-profile">
        <label class="profile-label"> Sobrenome: </label>
        <input type="text" class="form-control-profile" name="sobrenome"
        id="sobrenome" placeholder="sobrenome" [(ngModel)]="user.sobrenome">
      </div>


      <div class="form-group-profile">
        <label class="profile-label"> Usuário: </label>
        <input type="text" class="form-control-profile" name="username"
        id="username" placeholder="username" [(ngModel)]="user.username">
      </div>

      <div class="form-group-profile">
        <label class="profile-label"> Email: </label>
        <input type="text" class="form-control-profile" name="email"
        id="email" placeholder="email" [(ngModel)]="user.email">
      </div>

      <div class="row row-profile overview">
             <div class="col-md-4 user-pad text-center">
                 <h3 title="Pontos acumulados por finalizar atividadas!"><i class="fa fa-star" aria-hidden="true"></i>  Pontuação Acumulada</h3>
                 <h4 title="Pontos acumulados por finalizar atividadas!">{{user.scoreAcumulado}}</h4>
             </div>
             <div class="col-md-4 user-pad text-center">
                 <h3 title="Defina uma meta para sua semana!"><i class="fa fa-bullseye" aria-hidden="true"></i> Meta Semana</h3>
                 <h4><input type="text" class="form-control-profile text-center" title="Defina uma meta para sua semana!"
                   name="meta" id="meta" placeholder="20" [(ngModel)]="meta"></h4>
             </div>
             <div class="col-md-4 user-pad text-center">
                 <h3 title="Quanto falta para completar sua meta!"><i class="fa fa-star-o" aria-hidden="true"></i> Falta</h3>
                 <h4 title="Quanto falta para completar sua meta!">{{metaFalta}}</h4>
             </div>
      </div>

    </div>

    <div class="form-group-profile">
      <a class="pull-left" routerLink="/painel"><small>Voltar</small></a>
    </div>
    <div class="form-group-profile">
      <input type="submit" class="register pull-right" value="Salvar">
      <!-- <a routerLink="/painel" class="pull-right icon-edit" (click)="save(profileForm.value)" label="salvar"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a> -->
      <!-- <a routerLink="/painel" class="pull-right icon-edit" *ngIf="user.id" (click)="delete(user.id)" label="remover"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a> -->
    </div>

  </form>
</div>
