<!-- Header title and search box -->
<h3><b><i class="fa fa-dashboard"></i> My Dashboard</b></h3>

<!-- Columns with the card listed with priority-->
<div class="row">
  <div class="col-sm-4">
    <div class="card text-white bg-danger mb-3" style="max-width: 100%;" *ngFor="let atividade of class3">
      <div class="card-header">
        <div class="w3-left"><i class="fa fa-exclamation-triangle"></i></div>
        {{atividade.titulo}}</div>
        <div class="card-body">
          <p class="card-text">{{atividade.descricao}}</p>
        </div>
        <div class="card-footer text-right"><a href="/edit"  [routerLink]="['/edit', atividade.id]"> <i class="fa fa-edit"></i></a></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-white bg-primary mb-3" style="max-width: 100%;" *ngFor="let atividade of class2">
        <div class="card-header">
          <div class="w3-left"><i class="fa fa-send"></i></div>
          {{atividade.titulo}}</div>
          <div class="card-body">
            <p class="card-text">{{atividade.descricao}}</p>
          </div>
          <div class="card-footer text-right"><a href="/edit"  [routerLink]="['/edit', atividade.id]"> <i class="fa fa-edit"></i></a></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card text-white bg-success mb-3" style="max-width: 100%;" *ngFor="let atividade of class1">
          <div class="card-header">
            <div class="w3-left"><i class="fa fa-clock-o"></i></div>
            {{atividade.titulo}}</div>
            <div class="card-body">
              <p class="card-text">{{atividade.descricao}}</p>
            </div>
            <div class="card-footer text-right"><a href="/edit"  [routerLink]="['/edit', atividade.id]"> <i class="fa fa-edit"></i></a></div>
          </div>
        </div>
      </div>
