<mat-card>
  <form #atividadeForm="ngForm" (ngSubmit)="save(atividadeForm.value)">
    <mat-card-header>
      <mat-card-title><h2>{{atividade.titulo ? 'Edit' : 'Add'}} Atividade</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="id" [(ngModel)]="atividade.id">
      <mat-form-field>
        <input matInput [(ngModel)]="atividade.titulo" required name="titulo" #titulo>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="atividade.descricao" required name="descricao" #descricao>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="atividade.gravidade" required name="gravidade" #gravidade>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="atividade.urgencia" required name="urgencia" #urgencia>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="atividade.tendencia" required name="tendencia" #tendencia>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="atividade.score" required name="score" #score>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-raised-button color="secondary" (click)="remove(atividade.id)"
              *ngIf="atividade.id" type="button">Delete</button>
      <button mat-raised-button color="secondary" (click)="complete(atividade.id)"
              *ngIf="atividade.id" type="button">Complete</button>
      <a mat-button routerLink="/painel">Cancel</a>
    </mat-card-actions>
  </form>
</mat-card>
