<div class="col-sm-4 offset-sm-4" id="formAdd">

  <form #atividadeForm="ngForm" (ngSubmit)="save()">

    <mat-card>
      <div class="form-group">
        <div class="form-group">
          <input type="text" class="form-control-add-title" name="titulo" id="titulo" placeholder="Título da Atividade" [(ngModel)]="atividade.titulo">
        </div>
      </div>

      <div class="form-group">
        <div class="form-group">
          <input type="text" class="form-control-add-desc" name="descricao"
          id="descricao" placeholder="Descrição" [(ngModel)]="atividade.descricao">
        </div>
      </div>

      <div class="form-group">
        <label class="slider-label" name="gravidade">Gravidade: {{atividade.gravidade}}. {{gravidadeLabel}}</label>
        <div class="form-group slider">
          <input type="range" class="slider" min="1" max="5" value="1" [(ngModel)]="atividade.gravidade" name="gravidade" (input)="handleScore(); handleGravidadeLabel()">
        </div>
      </div>

      <div class="form-group">
        <label class="slider-label" name="gravidade">Urgencia: {{atividade.urgencia}}. {{urgenciaLabel}}</label>
        <div class="form-group slider">
          <input type="range" class="slider" min="1" max="5" value="1" [(ngModel)]="atividade.urgencia" name="urgencia" (input)="handleScore(); handleUrgenciaLabel()">
        </div>
      </div>

      <div class="form-group">
        <label class="slider-label" name="tendencia">Tendencia: {{atividade.tendencia}}. {{tendenciaLabel}}</label>
        <div class="form-group slider">
          <input type="range" class="slider" min="1" max="5" value="1" [(ngModel)]="atividade.tendencia" name="tendencia" (input)="handleScore(); handleTendenciaLabel()">
        </div>
      </div>

      <div class="form-group">
        <label class="score-label"><i class="fa fa-star" aria-hidden="true"></i> Pontuação: {{atividade.score}} <br> {{classificacaoLabel}}</label>
      </div>

      <div class="form-group">
        <a class="pull-left" routerLink="/painel"><small>Cancelar</small></a>
      </div>
      <div class="form-group">
        <input type="submit" class="register pull-right" value="Salvar">
        <button type="button" mat-button title="Deletar Atividade" class="pull-right icon-edit"
        *ngIf="atividade.id"
        (click)="openDialog()"
        label="remover"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
        <a routerLink="/painel" title="Completar Atividade" class="pull-right icon-edit" *ngIf="atividade.id" (click)="complete(atividade.id)" label="completar"><i class="fa fa-check fa-2x" aria-hidden="true"></i></a>

      </div>
    </mat-card>
  </form>
</div>
